<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'style/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>Masoom Network</title>
</head>

<body>
    <div class="container">

        {% if page != 'login' and page != 'signup' %}
        {% include "sidebar.html" %}
        {% endif %}
        <section class="main">

            {% block content %}


            {% endblock %}
        </section>

    </div>
</body>

</html>