{% extends "main.html" %} {% block content %}
{% load static %}

<img id="transaction_loading" src=" {% static 'images/loading.gif' %} " height="25px" style="display: none;" alt="">

<div class="main-top">
    <!-- <h5> {{username}} </h5> -->

</div>

{% if request.user.sumup_access_token != Null %}

<div class="main-skills">
    <div class="card">

        <h3 class="card-title">Total Amount</h3>
        <p id="total_amount">--</p>

    </div>
    <div class="card">
        <!-- <i class="fas fa-laptop-code"></i> -->
        <h3 class="card-title">Amount Last Month</h3>
        <p id="total_amount_lastmonth">--</p>

    </div>
    <div class="card">
        <h3 class="card-title">Amount Today</h3>
        <p id="total_amount_today">--</p>
    </div>

</div>

<div class="main-skills">
    <div class="card">

        <h3 class="card-title">Total Donations</h3>
        <p id="total_transactions">--</p>

    </div>
    <div class="card">
        <h3 class="card-title">Donations last 30 days</h3>
        <p id="transaction_last_month">--</p>
    </div>
    <div class="card">
        <!-- <i class="fas fa-laptop-code"></i> -->
        <h3 class="card-title">Donation Last Week</h3>
        <p id="transaction_last_week">--</p>

    </div>

</div>
<div class="main-skills">
    <div class="graph-card">
        <select class="graph-select-left" id="SelectDateRageLineChart" onchange="handleProductSummuryChange()">
            <option value="all">All</option>
            <option value="lastWeek">Last Week</option>
            <option value="last30Days">Last 30 Days</option>
        </select>

        <h3 class="card-title">Transactions </h3><button onclick="get_total_transactions()">get total
            transaction</button>
        <select class="graph-select" id="productSummarySelect" onchange="handleProductSummuryChange()">

        </select>
        <canvas id="transactionChart" width="100" height="50"></canvas>
    </div>

    <div class="card" ;" style="justify-content: space-evenly;">
        <h3 class="card-title">Total Transactions in Selected Campaign</h3>
        <p id="transaction_in_selected_range">--</p>

        <h3 class="card-title">Total Donations in Selected Campaign</h3>
        <p id="donations_in_selected_range">--</p>
    </div>

</div>

<div class="main-skills">


    <div class="graph-card"> <!-- Bar Chart -->

        <h3 class="card-title">Transactions </h3>
        <select class="graph-select" id="productSummarySelectBar" onchange="handleProductSummuryBarChange()">
            <option value="all">All</option>
            <option value="lastWeek">Last Week</option>
            <option value="last30Days">Last 30 Days</option>
        </select>
        <canvas id="transactionBarChart" width="100" height="50"></canvas>
    </div>

</div>
<!--  failed donations -->
<div class="main-skills" style="margin-bottom: 50px;">
    <div class="card">

        <h3 class="card-title">Gift Aid</h3>
        <p> Coming Soon !</p>

    </div>
    <div class="card">

        <h3 class="card-title">Failed Donations All Time</h3>
        <p class="failed-text" id="failed_donations">--</p>

    </div>

</div>

{% else %}
<div class="main-skills">
    <div class="card">

        <h3 class="card-title">Sumup not connected </h3>
        <a href="{% url 'sumup_login' %}">
            <b> Connect Sumup </b>
        </a>

    </div>

    {% endif %}


    <!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->
    <script>


        let transaction_loading = document.getElementById('transaction_loading');
        var transactions = [];
        var success_transactions = [];
        var total_transactions = [];
        var last_week_transactions = [];
        var last_month_transactions = [];
        var total_amount = 0;
        var total_amount_lastmonth = 0;
        var total_amount_today = 0;


        function get_total_transactions() {

            console.log('in total transactions')
            transaction_loading.style.display = 'block';

            fetch("/sumup/transactions/")  // Replace with the actual URL of your Django view
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(data => {
                    console.log("Data received:", data);
                    transactions = data.data.items;

                    success_transactions = transactions.filter(function (transaction) {
                        return transaction.status === 'SUCCESSFUL';
                    });
                    transactions = success_transactions
                    // Update the HTML on your page with the received data
                    const totalCount = Object.keys(transactions).length;

                    // transactions = transactions.forEach(transaction => {
                    //     transaction.status === "SUCCESSFUL";
                    // });

                    //  last week  data
                    var lastWeekStart = new Date();
                    lastWeekStart.setDate(lastWeekStart.getDate() - 7);
                    var lastWeekTransactions = transactions.filter(function (transaction) {
                        var transactionDate = new Date(transaction.timestamp);
                        return transactionDate > lastWeekStart;
                    });
                    console.log(lastWeekTransactions, 'lastWeekTransactions')
                    const lastWeekCount = Object.keys(lastWeekTransactions).length;

                    //  last 30 data
                    var lastMonthStart = new Date();
                    lastMonthStart.setDate(lastMonthStart.getDate() - 30);
                    var lastMonthTransactions = transactions.filter(function (transaction) {
                        var transactionDate = new Date(transaction.timestamp);
                        return transactionDate > lastMonthStart;
                    });
                    console.log(lastMonthTransactions, 'lastMonthTransactions')
                    const lastMonthCount = Object.keys(lastMonthTransactions).length;


                    // today total amount
                    const todayStart = new Date();
                    todayStart.setHours(0, 0, 0, 0); // Set to the beginning of the day
                    const todayTransactions = transactions.filter(function (transaction) {
                        var transactionDate = new Date(transaction.timestamp);
                        return transactionDate >= todayStart;
                    });


                    // last 30 day total amount
                    lastMonthTransactions.forEach(transaction => {
                        total_amount_lastmonth += transaction.amount;
                    });

                    // today total amount
                    todayTransactions.forEach(transaction => {
                        total_amount_today += transaction.amount;
                    });
                    // all time total amount
                    transactions.forEach(transaction => {
                        total_amount += transaction.amount;
                    });

                    // last week failed transactions
                    var failed_donations_last_week = data?.data?.items.filter(function (transaction) {
                        return transaction.status === 'FAILED';
                    });

                    // setting variables
                    total_transactions = transactions;
                    last_week_transactions = lastWeekTransactions;
                    last_month_transactions = lastMonthTransactions;

                    //  displaying data
                    transaction_loading.style.display = 'none'
                    document.getElementById("total_transactions").innerHTML = totalCount;
                    document.getElementById("transaction_last_week").innerHTML = lastWeekCount;
                    document.getElementById("transaction_last_month").innerHTML = lastMonthCount;

                    document.getElementById("total_amount").innerHTML =  '£ ' + total_amount ;
                    document.getElementById("total_amount_lastmonth").innerHTML =   '£ ' + total_amount_lastmonth ;
                    document.getElementById("total_amount_today").innerHTML = '£ ' + total_amount_today ;

                    document.getElementById("failed_donations").innerHTML = failed_donations_last_week.length;

                    createLineChart(success_transactions);
                    createBarChart(success_transactions);


                    product_summury();

                })
                .catch(error => {
                    console.error("Fetch error:", error);
                });
        }


        get_total_transactions();

        function product_summury() {
            const productSummaries = transactions.map(transaction => transaction.product_summary); // lower case problem

            const uniqueProductSummaries = [...new Set(productSummaries)];

            console.log(uniqueProductSummaries, 'uniqueProductSummaries')
            // Clear existing options
            productSummarySelect.innerHTML = '';
            // Add a default option
            const defaultOption = document.createElement('option');
            defaultOption.text = 'All';
            defaultOption.value = '';
            productSummarySelect.add(defaultOption);

            uniqueProductSummaries.forEach(summary => {
                const option = document.createElement('option');
                option.text = summary;
                option.value = summary;
                productSummarySelect.add(option);
            });



        }


        //============================================   chart section ===========================================

        function handleProductSummuryChange() {
            // Get the selected product summary
            var total_donation_in_range = 0;
            const selectedProductSummary = productSummarySelect.value;

            const selectedDateRange = SelectDateRageLineChart.value;

            if (selectedDateRange === 'lastWeek') {
                transactions = last_week_transactions;
            } else if (selectedDateRange === 'last30Days') {
                transactions = last_month_transactions;
            } else {
                transactions = total_transactions;
            }

            // Filter transactions based on the selected product summary
            const filteredTransactions = transactions.filter(transaction => {
                return selectedProductSummary === '' || transaction.product_summary === selectedProductSummary;  //lower case problem
            });

            filteredTransactions.forEach(transaction => {
                total_donation_in_range += transaction.amount;
            });

            document.getElementById("transaction_in_selected_range").innerHTML = filteredTransactions.length;
            document.getElementById("donations_in_selected_range").innerHTML =  '£ ' +  total_donation_in_range ;

            // Call the modified createLineChart function with the filtered transactions

            createLineChart(filteredTransactions);
        }

        function handleProductSummuryBarChange() {

            // Get the selected product summary
            const selectedProductBarSummary = productSummarySelectBar.value;
            console.log(selectedProductBarSummary, 'selectedProductBarSummary')

            // Filter transactions based on the selected product summary
            if (selectedProductBarSummary === 'lastWeek') {
                console.log(last_week_transactions, 'last_week_transactions')
                createBarChart(last_week_transactions);
            } else if (selectedProductBarSummary === 'last30Days') {
                createBarChart(last_month_transactions);
            } else {
                createBarChart(total_transactions);
            }


        }
        let transactionChart;
        function createLineChart(transactions) {
            if (transactionChart) {
                transactionChart.destroy();
            }

            const ctx = document.getElementById('transactionChart').getContext('2d');

            const dateAmounts = [];

            transactions.forEach(transaction => {
                const dateKey = new Date(transaction.timestamp).toLocaleDateString();
                const existingDate = dateAmounts.find(item => item.date === dateKey);
                if (existingDate) {
                    existingDate.amount += transaction.amount;
                } else {
                    dateAmounts.push({
                        date: dateKey,
                        amount: transaction.amount
                    });
                }
            });

            // Extract amounts to create an array
            const amountsArray = dateAmounts.map(item => item.amount);

            // 99999999999999999999999999
            const timestamps = new Set();
            transactions.forEach(transaction => {
                const timestamp = new Date(transaction.timestamp).toLocaleDateString('en-GB');
                timestamps.add(timestamp);
            });
            const uniqueTimestampsArray = Array.from(timestamps);

            const xValues = uniqueTimestampsArray;
            const yValues = amountsArray;

            transactionChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        label: 'Total Amount of Transactions',
                        fill: true,
                        lineTension: 0.3,
                        backgroundColor: "rgba(255, 99, 132, 0.2)",
                        borderColor: "rgba(255,99,132,0.3)",
                        data: yValues
                    }]
                },
                options: {
                    legend: { display: false },
                    scales: {
                        // yAxes: [{ ticks: { min: 0, max: 16 } }],          //  to check
                    }
                }
            });
        }


        let transactionBarChart;
        function createBarChart(transactions) {
            console.log('create bar chart triggered');
            if (transactionBarChart) {
                transactionBarChart.destroy();
            }

            const ctx = document.getElementById('transactionBarChart').getContext('2d');

            const productAmounts = {};
            const colors = ['rgba(232, 66, 255, 2)', 'rgba(66, 165, 245, 2)', 'rgba(102, 187, 106, 2)', 'rgba(255, 167, 38, 2)', 'rgba(255, 112, 67, 2)', 'rgba(141, 110, 99, 2)'];

            transactions.forEach((transaction, index) => {
                const productSummary = transaction.product_summary;

                if (productAmounts[productSummary]) {
                    productAmounts[productSummary] += transaction.amount;
                } else {
                    productAmounts[productSummary] = transaction.amount;
                }
            });

            const productLabels = Object.keys(productAmounts);
            const productValues = Object.values(productAmounts);

            const backgroundColors = colors.slice(0, productLabels.length);

            transactionBarChart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: productLabels,  // Use productLabels array for labels
                    datasets: [{
                        // label: 'Number of Transactions',
                        fill: false,
                        lineTension: 0.3,
                        backgroundColor: backgroundColors,
                        borderColor: "rgba(0,0,255,0.1)",
                        data: productValues,
                        barThickness: 50
                    }]
                },
                options: {
                    indexAxis: 'y',
                    legend: { display: false },
                    scales: {
                        x: {
                            // Adjust x-axis settings as needed
                        },
                        // y: {
                        //     // grid: {
                        //     //     display: false
                        //     // },
                        //     // ticks: {
                        //     //     autoSkip: false,
                        //     //     beginAtZero: true,
                        //     //     stepSize: 1
                        //     // }

                        // }
                    }
                }
            });
        }

    </script>


    <!--  Chart Section  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



    {% endblock %}