{% extends "main.html" %}
{% block content %}
{% load static %}

<img id="transaction_loading" src=" {% static 'images/loading.gif' %} " height="25px" style="display: none;" alt="">

<div class="main-top">
    <!-- <h5> {{username}} </h5> -->
</div>

<div class="main-skills">
    <div class="card" style="align-items: unset;">

        <h4> Donors  </h4>
        <div class="card-body">
            <table class="table" id="userTable">
                <thead>
                    <tr class="table-row">
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>

                        <th scope="col">Email</th>
                        <th scope="col">Transaction Code</th>
                        <th scope="col">Amount In Pounds</th>
                        <th scope="col">Merchant Code</th>
                        <th scope="col">Subscribed</th>
                        <th scope="col">Timestamp</th>
                        <!-- <th scope="col">Entry Mode</th>
                        <th scope="col">Card Type</th>
                        <th scope="col">Time Stamp</th>
                        <th scope="col">Merchant User</th>
                        <!-- <th>Actions</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for donor in donors %}
                    <tr>
                        <td> {{donor.first_name}} </td>
                        <td> {{donor.last_name}} </td>

                        <td> {{donor.email_address}} </td>
                        <td> {{donor.transaction_code}} </td>
                        <td> {{donor.amount_in_pounds}} </td>
                        <td> {{donor.merchant_code}} </td>
                        <td> {{donor.subscribe}} </td>
                        <td> {{donor.timestamp}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

</div>

<script>



    // /////////////////////////// 2nd table ///////////////////////////////



</script>
{% endblock %}