{% extends "main.html" %}

{% block content %}

<div class="login-form">
    {% if page == 'signup' %}
    <form method="post" action="">
        {% csrf_token %}
        <!-- <input type="text" placeholder="username" >
        <input type="password" placeholder="password" > -->
        <input type="text" placeholder="Name" name="name" required>
        <!-- <input type="username" placeholder="Username" name="username" required> -->

        <input type="email" placeholder="Email" name="email" required>
        <input type="number" placeholder="Telephone" name="telephone" required>
        <input type="text" placeholder="Organisation Name" name="organisation_name" required>
        <input type="text" id="trusteesInput" placeholder="Trustees" data-whitelist="[]" name="trustees">
        <div id="trusteesTags"></div>
        <input type="text" placeholder="Address" name="address" required>


        <!-- <input type="text" placeholder="Country" name="country_for_tax_purpose" required> -->
        <select class="country-select" id="country" name="country">
            {% for country in countries %}
            <option value="{{ country.name }}">{{ country.name }}</option>
            {% endfor %}
        </select>

        <input type="password" id="password" placeholder="password" name="password" required>
        <input onchange="handlePasswordMatch()" type="password" id="confirmPassword" placeholder="confirn password"
            name="confirmPassword" required>
        <span id="passwordMatchStatus" style="color: red;font-size: small;"></span>
        {% if msg %}
        <span id="msg" style="color: red;font-size: small;"> {{msg}} </span>
        <!-- {{ form.as_p }} -->
        {% endif %}

        <a href="{% url 'loginto' %}"> Already have a account</a>
        <button id="submitButton" disabled type="submit"> Signup </button>
        <!-- <p> or </p> -->

        <!-- <button onclick="withsumup()" class="with-google-btn"  > Countinuou with Sum up </button> -->
        <!-- <a class="with-google-btn" href="{% url 'sumup_login' %}">
            <p> login with sumup </p>
        </a> -->

    </form>
    {% endif %}

    {% if page == 'login' %}

    <form method="post" action="">
        {% csrf_token %}

        <input type="email" placeholder="Email" name="email" required>
        <input type="password" id="password" placeholder="password" name="password" required>
        {% if msg %}
        <span id="msg" style="color: red;font-size: small;"> {{msg}} </span>
        <!-- {{ form.as_p }} -->
        {% endif %}

        <a href="{% url 'signup' %}"> Create a new account</a>
        <button id="submitButton" type="submit"> Login </button>


    </form>

    {% endif %}

</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var passwordField = document.getElementById('password');
        var confirmPasswordField = document.getElementById('confirmPassword');
        var passwordMatchStatus = document.getElementById('passwordMatchStatus');
        var submitButton = document.getElementById('submitButton');
        function checkPasswordMatch() {
            var password = passwordField.value;
            var confirmPassword = confirmPasswordField.value;

            if (password === confirmPassword) {
                passwordMatchStatus.textContent = 'Passwords match';
                passwordMatchStatus.style.color = 'green';
                submitButton.disabled = false;
            } else {
                passwordMatchStatus.textContent = 'Passwords do not match';
                passwordMatchStatus.style.color = 'red';
                submitButton.disabled = true;
            }
        }

        confirmPasswordField.addEventListener('input', checkPasswordMatch);

        var trusteesInput = document.getElementById('trusteesInput');
        var trusteesTags = document.getElementById('trusteesTags');

        var tagify = new Tagify(trusteesInput, {
            whitelist: [],  // You can prepopulate with suggestions if needed
            dropdown: {
                maxItems: 20,           // <- mixumum allowed rendered suggestions
                enabled: 0,             // <- show suggestions on focus
                closeOnSelect: false,   // <- do not hide the suggestions dropdown once an item has been selected
            }
        });

        // Listen for the "add" event and update the tags container
        tagify.on('add', function (e) {
            trusteesTags.innerHTML = tagify.value.map(tag => `<span class="tag">${tag}</span>`).join('');
        });

        // Listen for the "remove" event and update the tags container
        tagify.on('remove', function (e) {
            trusteesTags.innerHTML = tagify.value.map(tag => `<span class="tag">${tag}</span>`).join('');
        });

    });
</script>



{% endblock content %}