{% extends "main.html" %} 
{% block content %}
{% load static %}
<div class="main-top">
    <!-- <h5> {{username}} </h5> -->
</div>

<div class="main-skills">
    <div class="card">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date">
        
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date">
        
        <button onclick="downloadExcel()">Download Excel</button>
        <button>Download CSV</button>
    </div>
</div>

<script>
    function downloadExcel() {
        // Get selected dates
        const startDate = document.getElementById('start_date').value;
        const endDate = document.getElementById('end_date').value;

        // Construct URL with query parameters for the selected date range
        const url = `{% url "download_excel" %}?start_date=${startDate}&end_date=${endDate}`;

        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.blob();
            })
            .then(blob => {
                // Create a link element and click it to trigger the download
                const a = document.createElement('a');
                a.href = window.URL.createObjectURL(blob);
                a.download = 'mydata.xlsx';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
                window.URL.revokeObjectURL(a.href);
            })
            .catch(error => {
                console.error('Error during fetch operation:', error);
                // Handle the error as needed
            });
    }
</script>

{% endblock %}
